// 색깔
$themeFirst: #f6f6f6;
$themeSecond: #211b72;
$themeThird: #ffeb00;
$themeFourth: #e9e9e9;

// 흰 박스 남색 글씨(높이, 너비)
@mixin box($height, $width) {
  background-color: $themeFirst;
  border-radius: 60px;
  color: $themeSecond;
  height: $height;
  width: $width;
  margin: auto;
}

// flex - space_evenly
@mixin space_evenly {
  display: flex;
  justify-content: space-evenly;
}

// 텍스트 가운데 정렬
@mixin text_vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// 폰트(사이즈, 굵기)
@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

// 파란색 버튼
@mixin blue_button {
  background-color: $themeSecond;
  color: $themeFirst;
  height: 63px;
  width: 183px;
  margin: 3px;
}

// 플렉스 설정
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: #{$direction};
  justify-content: #{$justify};
  align-items: #{$align};
}

@mixin list_item {
  background-color: $themeFourth;
}

//폰트 설정
// @font-face {
//   font-family: 'RokaMid';
//   src: url('/public/asset/font/ROKAFMedium.otf');
// }

// @font-face {
//   font-family: 'RokaBold';
//   src: url('/public/asset/font/ROKAFBold.otf');
// }
