@import 'all.scss';

body {
  background-color: $themeSecond;
}

a {
  text-decoration: none;
  :visited {
    text-decoration: none;
  }

  :hover {
    text-decoration: none;
  }

  :active {
    text-decoration: none;
    color: inherit;
  }
}

// 문의 및 히스토리 페이지 컨테이너
.page_container {
  @include box(863px, 1561px);
  @include flex(column, flex-start, center);
  .title {
    color: $themeSecond;
    font-size: 50px; // 페이지 제목 사이즈
  }
  padding: 3rem 8rem;
}

.button_container {
  display: flex;
  justify-content: end;
}
