@import 'all.scss';

body {
  background-color: $themeSecond;
}

a {
  text-decoration: none;
}

// 문의 및 히스토리 페이지 컨테이너
.page_container {
  @include box(863px, 1561px);
  @include text_vertical;
  .title {
    color: $themeSecond;
    font-size: x-large;
  }
}
