body {
  margin: 0;
  // 폰트 테스트 전
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;

  // 폰트 테스트 적용
  // font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  //   'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  //   'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  // 폰트 테스트 전
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;

  // 폰트 테스트 적용
  // font-family: 'Noto Sans KR', source-code-pro, Menlo, Monaco, Consolas,
  //   'Courier New', monospace;
}

// 문의하기
button {
  border: none;
}
button:hover {
  cursor: pointer;
}

// 문의하기
textarea {
  // font: inherit;
  resize: none;
}

// 폰트 설정
@font-face {
  font-family: 'Roka Mid';
  font-style: normal;
  src: url('../../asset/font/ROKAFMedium.woff');
}

@font-face {
  font-family: 'Roka Bold';
  font-style: bold;
  src: url('../../asset/font/ROKAFBold.woff');
}
