@import 'common/style/all.scss';

.guest_form {
  @include space_evenly;
  @include box(420px, 720px);
  @include text_vertical;
  // min-width: 352px;
}

.guest_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_logo {
  > a > img {
    width: 100px;
  }
}
