@import 'common/style/all.scss';

.invite_box {
  position: relative;
  @include space_evenly;
  @include box(420px, 720px);
  @include text_vertical;
  // min-width: 352px;
  &_text {
    font-size: 60px;
  }
}

.login_kakao {
  margin: 24px;
  background-color: #fee500;
  text-align: center;
  width: 100%;
  &_div {
    @include text_vertical;
  }
}

.invite_page {
  @include background_setting('../../asset/img/background/invite.png');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_logo {
  > a > img {
    width: 100px;
  }
}

.meteor {
  position: absolute;
  width: 170px;
  top: -50px;
  left: -55px;
}
