@import 'common/style/all.scss';

.share_wrap {
  @include background_setting('../../asset/img/background/share.png');
}
.share {
  @include box(50vh, 50vw);
  @include text_vertical;
  position: relative;
  justify-content: space-evenly;
  .title {
    font-size: 2.3rem;
  }
  .next {
    @include blue_button;
  }
  .rocket {
    position: absolute;
    width: 170px;
    top: -50px;
    left: -55px;
    transform: rotate(45deg);
  }
}
