@import 'common/style/all.scss';

.share {
  @include box(420px, 720px);
  @include text_vertical;
  position: relative;
  justify-content: space-evenly;
  .title {
    font-size: 70px;
  }
  .next {
    @include blue_button;
  }
  .rocket {
    position: absolute;
    width: 170px;
    top: -50px;
    left: -55px;
  }
}
