#ov {
  position: relative;

  .mouth {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 35%;
    overflow: hidden;
    video {
      position: absolute;
      transform: scale(9);
    }
  }
}

.speaking {
  border: 5px solid red;
}

.not-speaking {
  border: 0;
}
