#ov {
  position: relative;

  .mouth {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 90px;
    overflow: hidden;
    video {
      position: absolute;
      transform: scale(8);
    }
  }
}

.speaking {
  border: 5px solid red;
}

.not-speaking {
  border: 0;
}
