.container {
  background-color: #f6f6f6;
  height: 100%;
  border-radius: 30px;
  padding: 30px;
}

#session {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#session-header {
  display: flex;
  justify-content: space-between;
}

#stream-container {
  width: 25%;
}

#video-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#feature,
#basic {
  display: flex;
}

.caseA {
  .stream-container {
    width: 50%;
    max-width: 850px;
  }
}
.no-out {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}

.caseB {
  .stream-container {
    width: 40%;
    max-width: 600px;
  }
}

video {
  width: 100%;
}

.stream {
  padding: 0 30px;
  margin-bottom: 25px;
}

#session-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: 1px solid #d1d1d1;
  box-shadow: 4px 5px 14px #8785a2;
  margin: 10px;
  cursor: pointer;
}

#input_text {
  padding: 10px;
  width: 60%;
  height: 60px;
  border: none;
  box-shadow: 3px 3px 8px #8785a2;
  border-radius: 10px;
}

.subtitle {
  width: 100%;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
