@import 'common/style/all.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  display: block;
  width: 100%;
  list-style: none;
  padding: 0;
}

ul.pagination li {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  :first-child {
    border-radius: 5px 0 0 5px;
  }
  :last-child {
    border-radius: 0 5px 5px 0;
  }
  a {
    text-decoration: none;
    color: $themeSecond;
    :hover {
      color: $themeSecond;
    }
    a.active {
      color: $themeSecond;
    }
  }
}

ul.pagination li.active {
  background-color: $themeSecond;
  a {
    color: white;
  }
}

// .page-selection {
//   width: 48px;
//   height: 30px;
//   color: $themeSecond;
// }

// select {
//   display: block;
//   border: 2.5px solid black;
//   border-radius: 3px;
//   cursor: pointer;
//   margin-left: auto;
// }

.pagination_item {
  @include list_item;
  a {
    @include flex(row, space-around, center);
    span {
      display: inline-block;
      text-align: center;
      &:nth-child(1) {
        width: 75%;
      }
      &:nth-child(2) {
        width: 15%;
      }
      &:nth-child(3) {
        width: 10%;
      }
    }
  }
  margin: 10px 0px;
  padding: 10px 15px 10px;
  background-color: $themeFirst;
  color: $themeSecond;
  // border-bottom: solid 1px $themeSecond;
}

.item_header {
  @include list_item;
  @include flex(row, space-around, center);
  font-weight: bold;
  width: 100%;
  margin-top: 70px;
  padding: 10px 0px;
  span {
    text-align: center;
    display: inline-block;
    &:nth-child(1) {
      width: 75%;
    }
    &:nth-child(2) {
      width: 15%;
    }
    &:nth-child(3) {
      width: 10%;
    }
  }
  color: $themeSecond;
  background-color: $themeFourth;
  border-radius: 15px;
  padding: 10px 15px 10px;
}

.item_header > span {
  font-size: $listHeader;
}
