// 공통
$themeFirst: #f6f6f6;
$themeSecond: #8785a2;
$themeThird: #211b72;

body {
  background-color: $themeSecond;
}

a {
  text-decoration: none;
}

// 흰 박스(배경과 대비)
@mixin box($height, $width) {
  background-color: $themeFirst;
  border-radius: 60px;
  color: $themeThird;
  height: $height;
  width: $width;
  margin: auto;
}

@mixin inner_text_vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin font($style, $size, $weight) {
  font-style: #{$style};
  font-size: $size;
  font-weight: $weight;
}

@mixin space_evenly {
  display: flex;
  justify-content: space-evenly;
}

.box {
  @include box(700px, 1500px);
}

// 개별 - 메인 페이지
.main_page_link {
  @include space_evenly;
  > a {
    @include box(468px, 352px);
    @include inner_text_vertical;
    @include font(normal, 64px, 400);
  }
}
