@import 'common/style/all.scss';

.page_container {
  position: relative;
}

.history_detail {
  &_title {
    margin: 15px;
  }
  &_header {
    display: flex;
    justify-content: space-between;
    background-color: $themeFourth;
    border-radius: 15px;
    color: black;
    height: 50px;
    width: 90%;
    // margin: auto;
    line-height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    // :nth-child(3n + 2) {
    //   padding-right: 200px;
    // }
    &_item {
      display: flex;
      .detail_content {
        width: 100%;
      }
    }
    .item {
      &_host {
        flex: 2;
      }
      &_partipants {
        flex: 3;
      }
      &_date {
        flex: 2;
      }
    }
  }
  &_content {
    background-color: $themeFourth;
    border-radius: 20px;
    color: black;
    width: 90%;
    margin: 10px auto;
    white-space: pre-line;
    min-height: 500px;
    overflow: auto;
    padding: 30px;
    .chat {
      overflow-y: auto;
      &_item {
        margin-bottom: 20px;
      }
    }
  }

  &_answer {
    background-color: $themeFourth;
    border-radius: 20px;
    color: black;
    height: 150px;
    width: 1214px;
    margin: auto;
    margin-bottom: 80px;
    white-space: pre-line;
    min-height: 150px;
    overflow: auto;
    padding: 10px 30px;
  }

  .line {
    @include line_vertical(#808080, 2px);
  }
  button,
  a {
    @include blue_button;
    @include text_vertical;
    margin: 0;
  }
}

.gray {
  color: #808080;
}

.chat_name {
  font-size: large;
}

.chat_time {
  font-size: medium;
}
