@import 'common/style/all.scss';

.page_container {
  position: relative;
}

.astronaut {
  position: absolute;
  left: 1600px;
  top: 400px;
  width: auto;
  &_img {
    width: 300px;
    height: 300px;
  }
}

.history_list {
}
