@import 'common/style/all.scss';

.page_container {
  position: relative;
}

.astronaut {
  position: absolute;
  left: 1600px;
  top: 400px;
  width: auto;
  &_img {
    width: 300px;
    height: 300px;
  }
}

.history_detail {
  &_header {
    background-color: $themeFourth;
    border-radius: 15px;
    color: black;
    height: 50px;
    width: 1214px;
    // margin: auto;
    line-height: 50px;
    margin-top: 35px;
    padding: 0 10px;
    :nth-child(3n + 2) {
      padding-right: 200px;
    }
  }
  &_content {
    background-color: $themeFourth;
    border-radius: 20px;
    color: black;
    height: 500px;
    width: 1214px;
    margin: auto;
    white-space: pre-line;
    min-height: 500px;
    overflow: auto;
    padding: 10px 30px;
  }

  &_answer {
    background-color: $themeFourth;
    border-radius: 20px;
    color: black;
    height: 150px;
    width: 1214px;
    margin: auto;
    margin-bottom: 80px;
    white-space: pre-line;
    min-height: 150px;
    overflow: auto;
    padding: 10px 30px;
  }

  .line {
    @include line_vertical(#808080, 2px);
  }
  button,
  a {
    @include blue_button;
    @include text_vertical;
    margin: 0;
  }
}

.gray {
  color: #808080;
}

.button_container {
  width: 1214px;
  align-items: flex-end;
}

.chat_name {
  font-size: large;
}

.chat_time {
  font-size: medium;
}
