@import 'common/style/all.scss';

// 마이페이지 전체 영역
.my_page {
  @include space-evenly;
}

// 프로필 영역
.profile {
  @include box(863px, 501px);
  @include flex(column, space-around, center);

  > div {
    @include flex(column, space-around, center);
    :nth-child(2) {
      font-size: 25px;
      font-weight: bold;
    }
  }

  img {
    background-color: $themeSecond;
    width: 300px;
    border-radius: 50%;
    object-fit: scale-down;
    margin: 5px;
  }
  p {
    margin: 3px;
  }
  > button {
    @include blue_button;
  }
}

// 히스토리, 문의 내역 영역
.info {
  @include box(863px, 1232px);
  @include flex(column, space-around, center);
}

// 각 영역
.item {
  width: 1040px;

  > div {
    // 영역별 타이틀과 '더보기'
    @include flex(row, space-between, flex-end);
    margin-bottom: 1rem;

    > :nth-child(1) {
      // 타이틀
      font-size: 30px;
    }
  }

  ul {
    // 영역별 최신 5개
    background-color: $themeFourth;
    padding: 0.5rem;
    a {
      display: block;
      padding: 5px 1rem 5px;
    }
    li {
      @include flex(row, space-between, center);
      // padding-left: 1rem;
      // padding-right: 1rem;
    }
  }
}
