@import 'common/style/all.scss';

.page_container {
  position: relative;
}

.astronaut {
  position: absolute;
  left: 1600px;
  top: 400px;
  width: auto;
  &_img {
    width: 300px;
    height: 300px;
  }
}

@mixin input($width) {
  background-color: $themeFourth;
  display: block;
  width: $width;
  margin: 0.5rem 0rem;
  padding: 1rem;
  color: black;
  border-radius: 20px;
}

input:focus,
textarea:focus {
  outline: 3px solid $themeSecond;
}

.qna_page > .title {
  margin: 1rem 0;
}

.qna_page {
  input,
  textarea {
    @include input(100%);
  }
  button {
    @include blue_button;
  }
}
