@import 'common/style/all.scss';

@mixin input($width) {
  background-color: $themeFourth;
  display: block;
  width: $width;
  margin: 0.5rem 0rem;
  padding: 1rem;
  color: black;
  border-radius: 20px;
}

input:focus,
textarea:focus {
  outline: 3px solid $themeSecond;
}

.qna_page > .title {
  margin-bottom: 2.5rem;
}

.qna_page {
  input,
  textarea {
    @include input(1214px);
  }
  button {
    @include blue_button;
  }
}
