@import 'common/style/all.scss';

.admin_page {
  @include space_evenly;
  margin-top: 10%;
  .admin_menu {
    @include box(468px, 352px);
    @include text_vertical;
    min-width: 352px;
    font-size: 2rem;
  }
}
