@import 'common/style/all.scss';

.admin_user {
  @include box(auto, 90vw);
  padding: 30px;

  .btn_div {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    background-color: $themeSecond;
    color: $themeFirst;
    padding: 10px;
    border-radius: 12px;
  }
}
