@import 'common/style/all.scss';

.page_container {
  position: relative;
}

.qna_detail {
  &_header {
    background-color: $themeFourth;
    border-radius: 15px;
    color: black;
    height: 50px;
    width: 1214px;
    // margin: auto;
    line-height: 50px;
    margin-top: 35px;
    padding: 0 10px;
    :nth-child(2) {
      padding-right: 39rem;
    }
    :nth-child(n + 3) {
      padding-right: 1.3rem;
    }
  }
  &_content {
    background-color: $themeFourth;
    border-radius: 20px;
    color: black;
    height: 300px;
    width: 1214px;
    margin: auto;
    white-space: pre-line;
    min-height: 300px;
    overflow: auto;
    padding: 10px 30px;
  }

  &_answer {
    background-color: $themeFourth;
    border-radius: 20px;
    color: black;
    height: 150px;
    width: 1214px;
    margin: auto;
    margin-bottom: 80px;
    white-space: pre-line;
    min-height: 150px;
    overflow: auto;
    padding: 10px 30px;
  }

  .line {
    // @include line_vertical(#808080, 2px);
  }
  button,
  a {
    @include blue_button;
    @include text_vertical;
    margin: 0;
  }
}
